.principal {
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .principal {
        width: 100%;
        padding: 0 1rem;
    }
}